In [1]:
import mysql.connector

In [4]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="********"
)

In [5]:
remote = mysql.connector.connect(
    host="AWS RDS",
    port="3306",
    user="root",
    password="********",
)

In [6]:
local = mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="********",
    database='armbase'
)

In [5]:
local.close()

In [6]:
remote.close()

In [7]:
local = mysql.connector.connect(
    host="localhost",
    user="root",
    password="********",
    database='armbase',
    port=3306
)

In [8]:
local.close()

In [9]:
import mysql.connector

remote = mysql.connector.connect(
    host="AWS RDS",
    port="3306",
    user="root",
    password="********",
    database='armbase'
)

In [10]:
cur = remote.cursor()
cur.execute('CREATE TABLE sql_file (id int, filename varchar(16))')

remote.close()

In [11]:
remote = mysql.connector.connect(
    host="AWS RDS",
    port="3306",
    user="root",
    password="********",
    database='armbase'
)

cur = remote.cursor()
cur.execute('DROP TABLE sql_file')

remote.close()

In [25]:
mydb = mysql.connector.connect(
    host="AWS RDS",
    user="root",
    password="********",
    database='armbase'
)

mycur = mydb.cursor()
sql = open('./../dev/sql/test03.sql').read()
mycur.execute(sql)
remote.close()

In [27]:
remote = mysql.connector.connect(
    host="AWS RDS",
    port="3306",
    user="root",
    password="********",
    database='armbase'
)

cur = remote.cursor()
sql = open('./../dev/sql/test04.sql').read()
cur.execute(sql)
remote.close()

In [29]:
remote = mysql.connector.connect(
    host="AWS RDS",
    user="root",
    password="********",
    database='armbase'
)

cur = remote.cursor()


sql = open('./../dev/sql/test04.sql').read()
for result_iterator in cur.execute(sql, multi=True):
    if result_iterator.with_rows:
        print(result_iterator.fetchall())
    else:
        print(result_iterator.statement)

remote.commit()
remote.close()

INSERT INTO sql_file VALUE (1,"test01.sql")
INSERT INTO sql_file VALUE (2,"test02.sql")
INSERT INTO sql_file VALUE (3,"test03.sql")
INSERT INTO sql_file VALUE (4,"test04.sql")

In [30]:
remote = mysql.connector.connect(
    host="AWS RDS",
    user="root",
    password="********",
    database='armbase'
)

cur = remote.cursor(buffered=True)
cur.execute("SELECT * FROM sql_file")

result = cur.fetchall()
for data in result:
    print(data)

(1, 'test01.sql')
(2, 'test02.sql')
(3, 'test03.sql')
(4, 'test04.sql')

In [32]:
import pandas as pd

df = pd.DataFrame(result)
df.head()

   0           1
0  1  test01.sql
1  2  test02.sql
2  3  test03.sql
3  4  test04.sql